Repository aaronsisler/projects.react.overflow-css: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint --fix, git add ., prettier --write, yarn run lint:style --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": ["yarn run lint --fix", "git add ."],
  "*.{jsx,ts,tsx,css,scss,json}": ["prettier --write", "git add ."],
  "*.{css,scss}": ["yarn run lint:style --fix", "git add ."]
}

Updates for repo tweaks
  README.md
  package.json
Due: git add ., prettier --write

Updating readme for developer quick start guide
  README.md
Due: none

Creating comps for testing header freeze
  package.json
  src/components/floating-panel/floating-panel.jsx
  src/components/floating-panel/floating-panel.scss
  src/components/floating-panel/index.js
  src/components/sticky-panel/index.js
  src/components/sticky-panel/sticky-panel.jsx
  src/components/sticky-panel/sticky-panel.scss
  src/containers/main-container/main-container.jsx
  src/containers/main-container/main-container.scss
  yarn.lock
Due: yarn run lint --fix, git add ., prettier --write, yarn run lint:style --fix

Header frozen, totals row next
  src/components/floating-panel/floating-panel.jsx
  src/components/floating-panel/floating-panel.scss
  src/components/sticky-panel/sticky-panel.jsx
  src/components/sticky-panel/sticky-panel.scss
  src/containers/main-container/main-container.jsx
  src/containers/main-container/main-container.scss
Due: yarn run lint --fix, git add ., prettier --write, yarn run lint:style --fix

Adding in the change for sticky headers
  src/components/floating-panel/floating-panel.jsx
  src/components/floating-panel/floating-panel.scss
  src/components/sticky-panel/sticky-panel.jsx
  src/components/sticky-panel/sticky-panel.scss
  src/containers/main-container/main-container.scss
Due: yarn run lint --fix, git add ., prettier --write, yarn run lint:style --fix
